.pixels-container {
  width: 100vw;
  line-height: 0;
}

.pixel {
  display: inline-block;
  width: 5vw;
  min-height: 5vw;
  height: 5vw;
}

.hide {
  display: none;
}

.user-controls-container {
  margin-top: 2em;
  width: 100%;
}

span.knob-container {
  display: inline-block;
  /*enabling this breaks the click events on rc-knob*/
  /*position: relative;*/
  font-size: 0.6em;
}

span.knob-container label {
  position: relative;
  margin-left: 3.6em;
  display: inline;
  text-align: center;
  top: 0;
}

.soundshower-container {
  /*background-color: #ff0;*/
  min-height: 2vw;
  background-color: #000;
}

.sound-show {
  display: inline-block;
  vertical-align: middle;
  width: 2vw;
  height: 2vw;
  margin-left: 4vw;
  overflow: hidden;
  border: 1px solid black;
  background-color: transparent;

  /*transition: background-color 0.3s;*/
}

.sound-show.playing {
  background-color: #0f0;
  /*transition: background-color 0.3s;*/
}

.button {
  display: inline-block;
  width: 2.6em;
  font-size: 2em;
}

.play {
  background-color: #0f0;
  color: #0b0;
}

.stop{
  background-color: #f00;
  color: #b00;
}

.rand {
  background-color: #00f;
  color: #00b;
}

.sequencer-container {
  width: 96vw;
}
.sequencer-button {
  border: 1px solid white;
  width: 3vw;
  height: 2vh;
}

.enable {
  color: #0f0;
}

.disable {
  color: #f00;
}


.value {
  /*font-family: 'Work Sans', sans-serif;*/
  fill: #fc5a96;
  font-size: 30px;
}
