.pixels-container {
  width: 100vw;
  line-height: 0;
}

.pixel {
  display: inline-block;
  width: 5vw;
  min-height: 5vw;
  height: 5vw;
}


.soundshower-container {
  /*background-color: #ff0;*/
}

.sound-show {
  display: inline-block;
  vertical-align: middle;
  width: 2vw;
  height: 2vw;
  margin-left: 4vw;
  overflow: hidden;
  border: 1px solid black;
}

.sound-show.playing {
  background-color: #0f0;
}


.button {
  width: 10vw;
  font-size: 2em;
}

.play {
  background-color: #0f0;
  color: #0b0;
}

.stop{
  background-color: #f00;
  color: #b00;


}

.sequencer-container {
  width: 96vw;
}
.sequencer-button {
  border: 1px solid white;
  width: 3vw;
  height: 2vh;
}

.enable {
  color: #0f0;
}

.disable {
  color: #f00;
}